@page
@model Keswa.Pages.Quality.IndexModel
@{
    ViewData["Title"] = "قسم الجودة";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Inspections[0].Product.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Inspections[0].TransferredQuantity)</th>
            <th>@Html.DisplayNameFor(model => model.Inspections[0].Status)</th>
            <th>@Html.DisplayNameFor(model => model.Inspections[0].AssignedTo)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Inspections)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Product.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.TransferredQuantity)</td>
                <td>@Html.DisplayFor(modelItem => item.Status)</td>
                <td>@Html.DisplayFor(modelItem => item.AssignedTo.UserName)</td>
                <td>
                    <a asp-page="./Assign" asp-route-id="@item.Id">تعيين عامل</a> |
                    <a asp-page="./Receive" asp-route-id="@item.Id">استلام الشغل</a>
                </td>
            </tr>
        }
    </tbody>
</table>
