@page
@model Keswa.Pages.Finishing.IndexModel
@{
    ViewData["Title"] = "قسم التشطيب";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Products[0].Code)</th>
            <th>@Html.DisplayNameFor(model => model.Products[0].Name)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Code)</td>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>
                    <a asp-page="./Transfer" asp-route-id="@item.Id">تحويل إلى الجودة</a>
                </td>
            </tr>
        }
    </tbody>
</table>
